<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.ase.dam.seminar2">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NouaActivitate"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivitateRezultat"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>